

:root {
  --dark-blue: #081b49;
  --blue: #4377BB;
}

main {
  background-color: #F4F2F0;
}

header{
  background-color: rgb(255, 255, 255);
  max-width: calc(4 * 17rem + 3 * 20px);
  margin: auto;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  gap: 24px;
  height: 100px;
}

nav li {
  display:inline-block;
  padding-right: 20px;
}

.menu {
  list-style-type: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 1px;
  color: var(--dark-blue);
}

.menu li a {
  text-decoration: none;
  color: var(--dark-blue);
}

#logo{
  width: 152px;
  align-self: baseline;
  overflow: visible;
  position: relative;
}

button[type=menu-button]{
  background-color: #091B49;
  border: none;
  font-size: 13px;
  border-radius: 30px;
  padding: 15px 15px;
}

video {
  width: 100%;
}

.video-container{
  overflow: hidden;
  max-height: 900px;
}

button[type=book-activity]{
  position:absolute;
  bottom: 15px;
  background-color: var(--blue);
  width: 15rem;
  border: none;
  font-size: 12px;
  border-radius: 30px;
  padding: 15px 15px;
}

section[h2] {
  font-size: 0.8em; /*kan inte resize h2*/
}

.content, .engage, .over-night-tips{
  color: var(--dark-blue);
  padding-top: 20px;
  margin: auto;
  box-sizing: border-box;
  max-width: calc(4 * 17rem + 3 * 20px);
}

.form {
  color: var(--dark-blue);
  padding-top: 40px;
  padding-bottom: 20px;
  margin: auto;
  box-sizing: border-box;
  max-width: calc(4 * 17rem + 3 * 20px);
}

p {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  color: var(--dark-blue);
  max-width: 740px;
}

.form-elements {
  display: flex;
  justify-content: space-between; /*varför fungerar ej?*/
  border: 2px solid rgb(255, 0, 0);
}

select, input {
  font-family: inherit;
  font-size: 0.8em; /*fungerar inte*/
  color: var(--dark-blue);
  padding: 14px;
  width: 17rem;
  justify-content: space-between;
  border-color: #E0E0E0;
  border-radius: 7px;
}

.card-container, .tips-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.card, .tips {
  color: var(--dark-blue);
  min-height: 23rem;
  width: 17rem;
  text-wrap: wrap;
  overflow: hidden;
  border-radius: 7px; 
  }

.card-body, .tips-body {
  background-color: #ffffff;
}

.card-title {
  font-family: inherit;
  font-size: 0.9em;
  }

.tips-title {
  font-family: inherit;
  font-size: 1.2em;
  }

.card-text {
  font-family: inherit;
  font-size: 0.8em;
  }

.tips-text {
  font-family: inherit;
  font-size: 1em;
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
.card-img-top, .engage-img, .tips-img-top {
    border-radius: 7px 7px 0 0;
  }

.read-more {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 0.8em;
  font-style: normal;
  color: var(--blue);
  padding-bottom: 10px;
}

.tag {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 0.8em;
  font-style: normal;
  color: #091B49;
  padding-top: 5px;
}

.ad {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.advertisment {
  flex-shrink: 1; /*kolla på denna...*/
}

.ad-img {
  max-width: calc(4 * 17rem + 3 * 20px);
}

.engage-container {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.engage-people {
  color: var(--dark-blue);
  flex: 1 1 calc(50% - 15px); /* Adjust the size of each div to fit within the container */
  max-width: calc(50% - 15px);
  box-sizing: border-box;
  background-color: #EEEEEE;
}

.engage-img, .tips-img-top {
  width: 100%; 
  height: auto; 
  display: block; 
  max-width: 100%; 
  box-sizing: border-box;
}

.engage-title {
  font-family: inherit;
  font-size: 1.2em;
  padding: 10px 10px 0 15px;
}

.engage-text {
  font-family:inherit;
  font-size: 1em;
  line-height: 1.5;
  padding: 10px 10px 0 15px;
}

button[type=engage]{
  background-color: var(--blue);
  display: block;
  width: 20rem;
  border: none;
  font-size: 15px;
  border-radius: 30px;
  padding: 15px 15px;
  margin: 20px auto;
}

button[type=engage].hover {
  background-color: var(--blue);
}

footer {
  background-color: var(--blue);
  height: 400px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin: auto;
  box-sizing: border-box;
  max-width: calc(4 * 17rem + 3 * 20px);
}

.footer-child {
  flex: 1 1 calc(50% - 15px); /* Adjust the size of each div to fit within the container */
  max-width: calc(50% - 15px);
  box-sizing: border-box;
}

div li {
  display:inline-block;
  padding-right: 20px;
}

.footer-about-links {
  list-style-type: none;
  font-family: Inter, system-ui, sans-serif;
  font-weight: 600;
  font-size: 16px;
  
}
.footer-about-links li a, .footer-media-links li a {
  text-decoration: underline;
  color: #ffffff;
  font-size: 0.9em;
}